/* Estilos personalizados */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

header {
    background-color: #007bff;
    color: #333;
    box-shadow: none;
    padding: 15px 0;
    border-bottom: 4px solid #007bff; 
}

header .header-logo img {
    width: 80px;
    height: auto;
    border-radius: 5%;
}

header .btn-outline-primary {
    border-color: #007bff;
    color: #007bff;
    transition: all 0.3s ease;
}

header .btn-outline-primary:hover {
    background-color: #007bff;
    color: white;
}

main {
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

footer {
    background: #343a40;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

footer a:hover {
    text-decoration: underline;
}

/* Ajustes para telas menores */
@media (max-width: 600px) {
    header {
        justify-content: left;
        text-align: left;
    }

    header .logo {
        margin: 0 auto px auto; 
        height: 40px;
        justify-content: right; 
    }

    header h1 {
        font-size: 20px;
        text-align: left;
    }
}
